.container {
  display: inline-flex;
  border-radius: 999px;
  margin: 5px;
  align-items: center;
  position: relative;
}
.input {
  opacity: 0;
  position: absolute;
  min-height: auto !important;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}
.label {
  border-radius: 9999px;
  padding: 3px 15px 3px 40px;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}
.label::before,
.label::after {
  content: "";
  border-radius: 9999px;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 1;
}
.label::before {
  border: 2px solid #dcdcdc;
  top: 4px;
  left: 10px;
  transition: all 0.5s;
}
.label::after {
  top: 6px;
  left: 12px;
  transition: all 0.15s;
  transition-timing-function: ease-out;
}

.container:hover .hover {
  background-color: #7156f823;
}
.label::before {
  border: 2px solid #2196f3;
}
.input:checked ~ .label::after {
  background-color: #ffffff;
  top: 6px;
  left: 12px;
  transition: all 0.15s;
  transition-timing-function: ease-out;
}
.input:checked ~ .label::before {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

.input:checked ~ .label::after {
  width: 8px;
  height: 8px;
  top: 10px;
  left: 16px;
}
