.item {
    min-width: 40px !important;
    height: 40px !important;
    background-color: rgba(216, 216, 216, 0.623);
    width: auto !important;
    padding: 0px 4px !important;
    font-weight: 600;
    border-radius: 10px !important;
}
.checked {
    background-color: #f44 !important;
    color: white;
}
@media (max-width: 1000px) {
    .item {
        width: 32px !important;
        height: 32px !important;
        background-color: #d8d8d8;
   }
}
