.step {
    width: 100%;
    position: relative;
}

.open {
    animation: open 0.4s forwards;
    animation-delay: 0.3s;
    right: -100vw;
}

.close {
    animation: close 0.2s forwards;
}

@keyframes open {
    0% {
        right: -100vw;
    }

    100% {
        right: 0px;
    }
}

@keyframes close {
    0% {
        right: 0px;
    }

    99% {
        right: -100vw;
    }

    100% {
        right: -100vw;
        display: none;
    }
}